<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <handlers>
            <clear />
            <add name="php-7.0.23" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\main\test.sxcsim.cn\php7nts64\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.6.13RC1" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\main\test.sxcsim.cn\php5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.3.21" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\main\test.sxcsim.cn\php5.3\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule" resourceType="Either" requireAccess="Read" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
